<template>
    <div class="setting-module">
        <div class="settings-title">
            - Ekspor Data
        </div>
        <div class="settings-group">
            <div class="settings-group-header label">
                Ekspor Data
            </div>
            <div class="button-group">
                <div class="button default-button label" v-on:click="exportDataBarang">
                    Ekspor Data Barang
                </div>
                <div class="button default-button label" v-on:click="exportDataPenjualan">
                    Ekspor Data Penjualan
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    const {dialog} = require('electron').remote;

    export default {
        computed:{
            datestr : function(){
                var date = new Date();
                return date.getFullYear() + "-" + ("0" + (date.getMonth() + 1)).slice(-2) + "-" + ("0" + date.getDate()).slice(-2);
            }
        },
        methods: {
            exportDataBarang() {
                var ctx = this;
                var path = dialog.showSaveDialog({
                    title: "Export Data Barang",
                    defaultPath: "databarang-" + this.datestr + ".xlsx",
                }, function (path) {
                    ctx.$store.dispatch('exporter/exportDataBarang', path).then(() => {
                        ctx.$store.commit('modal/showModal', {
                            title: 'Berhasil Menyimpan Data',
                            message: 'Data telah berhasil disimpan!',
                            icon: 'check_circle',
                            type: 'success'
                        });
                    });
                });
            },
            exportDataPenjualan() {
                var ctx = this;
                var path = dialog.showSaveDialog({
                    title: "Export Data Penjualan",
                    defaultPath: "datajual-" + this.datestr + ".xlsx",
                }, function (path) {
                    ctx.$store.dispatch('exporter/exportDataPenjualan', path).then(() => {
                        ctx.$store.commit('modal/showModal', {
                            title: 'Berhasil Menyimpan Data',
                            message: 'Data telah berhasil disimpan!',
                            icon: 'check_circle',
                            type: 'success'
                        });
                    });
                });
            },
        }
    }
</script>

<style scoped>
</style>