<template>
    <div class="setting-module">
        <div class="settings-title">
            - Pengaturan Penjualan
        </div>
        <div class="settings-group">
            <div class="settings-group-header label">
                Pengaturan Pegawai
            </div>
            <SettingList datasrc="setting.pegawai" primary="kode_pegawai" propname="Pegawai"
                         v-bind:category='["nama","alamat","kota","notelp"]'></SettingList>
        </div>
<!--        <div class="settings-group">-->
<!--            <div class="settings-group-header label">-->
<!--                Pengaturan Pembeli-->
<!--            </div>-->
<!--            <SettingList datasrc="setting.pembeli" primary="kode_pembeli" propname="pembeli"-->
<!--                         v-bind:category='["nama","alamat","kota","notelp"]'></SettingList>-->
<!--        </div>-->

        <div class="settings-group">
            <div class="settings-group-header label">
                Grup Barang
            </div>
            <SettingList datasrc="setting.grup_barang" primary="kode_grup" propname="Grup Barang"
                         v-bind:category='["nama_grup"]'></SettingList>
        </div>

        <div class="settings-group">
            <div class="settings-group-header label">
                Pengaturan Lain
            </div>
            <div class="settings-group-content">
                <SettingInput label="Nama Toko" source="nama_toko"></SettingInput>
                <SettingInput label="Stok Minimum" source="min_stock"></SettingInput>
            </div>
        </div>

    </div>
</template>

<script>
    import SettingList from '../parts/SettingList.vue';
    import SettingInput from '../parts/SettingInput.vue';

    export default {
        components: {
            SettingList, SettingInput
        }
    }
</script>

<style scoped>

</style>