<template>
    <div class="setting-module">
        <div class="settings-title">
            - Pengaturan User
        </div>
        <div class="settings-group">
            <div class="settings-group-header label">
                Pengaturan User
            </div>
            <SettingList datasrc="setting.user" primary="username" propname="User"
                         v-bind:category='["username","nama","role"]'></SettingList>
        </div>
    </div>
</template>

<script>
    import SettingList from '../parts/SettingList.vue';
    import SettingInput from '../parts/SettingInput.vue';

    export default {
        components: {
            SettingList, SettingInput
        }
    }
</script>

<style scoped>

</style>