<template>
    <div class="dropdown" v-click-outside="dropdownClose">
        <div class="dropdown-box" v-bind:class="{'opened' : opened}" v-on:click="dropdownToggle()">
            <div class="dropdown-label">{{selectedContent}}</div>
            <div class="dropdown-caret material-icons" v-if="!opened">arrow_drop_down</div>
            <div class="dropdown-caret material-icons" v-else>arrow_drop_up</div>
        </div>
        <div class="dropdown-selection" v-bind:class="{'opened' : opened}">
            <div class="selection-item" v-for="option in options" v-on:click="dropdownSelect(option)">{{option}}</div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                opened: false,
                selectedContent: -1
            }
        },
        methods: {
            dropdownToggle: function () {
                this.opened = !this.opened;
            },
            dropdownClose: function () {
                this.opened = false;
            },
            dropdownSelect: function (selection) {
                this.$emit('dropdown:select', selection, this.data);
                this.selectedContent = selection;
                this.opened = false;
            }
        },
        props: {
            options: {
                type: Array,
                default: function () {
                    return ["Selection", "AAA"];
                }
            },
            defaultcontent: {
                type: String,
                default: "Select"
            },
            data: {

            }

        },
        mounted() {
            this.selectedContent = this.defaultcontent;
        },
        directives: {
            'click-outside': {
                bind: function (el, binding, vNode) {
                    // Provided expression must evaluate to a function.
                    if (typeof binding.value !== 'function') {
                        const compName = vNode.context.name
                        let warn = `[Vue-click-outside:] provided expression '${binding.expression}' is not a function, but has to be`
                        if (compName) {
                            warn += `Found in component '${compName}'`
                        }

                        console.warn(warn)
                    }
                    // Define Handler and cache it on the element
                    const bubble = binding.modifiers.bubble
                    const handler = (e) => {
                        if (bubble || (!el.contains(e.target) && el !== e.target)) {
                            binding.value(e)
                        }
                    }
                    el.__vueClickOutside__ = handler

                    // add Event Listeners
                    document.addEventListener('click', handler)
                },

                unbind: function (el, binding) {
                    // Remove Event Listeners
                    document.removeEventListener('click', el.__vueClickOutside__)
                    el.__vueClickOutside__ = null

                }
            }
        }
    }
</script>

<style scoped>
    .dropdown-box {
        display: flex;
        background-color: #EEE;
        color: #999;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.4rem 1rem;
        border-radius: 0.2rem;
        min-width: 8rem;
        cursor: pointer;
        user-select: none;
        transition-duration: 0.3s;
        position: relative;
    }

    .dropdown-box.opened {
        background-color: #DDD;
        color: #333;
    }

    .dropdown-selection {
        display: none;
    }

    .dropdown-selection.opened {
        display: flex;
        flex-direction: column;
        position: absolute;
        border-radius: 0.2rem;
        box-shadow: 0 2px 6px 2px #99999944;
        z-index: 2;
    }

    .selection-item {
        padding: 0.5rem;
        user-select: none;
        cursor: pointer;
        background-color: #fff;
        overflow: hidden;
    }

    .selection-item:hover {
        background-color: #EEEEEE;
    }

    .selection-item:first-child {
        border-top-left-radius: 0.2rem;
        border-top-right-radius: 0.2rem;
    }

    .selection-item:last-child {
        border-bottom-left-radius: 0.2rem;
        border-bottom-right-radius: 0.2rem;
    }
</style>