<template>
    <div class="item-detail">
        <div class="detail-primary">
            <div class="detail-code">{{data.kode_barang}}</div>
            <div class="detail-name">{{data.nama_barang}}</div>
            <div class="detail-category">{{data.kode_grup}}</div>
        </div>
        <div class="detail-price">{{formatMoneyCurrency(data.harga)}}</div>
        <div class="detail-stock">{{data.stok}}</div>
    </div>
</template>

<script>
    import CurrencyMix from "../mixins/CurrencyMix.js"

    export default {
        data() {
            return {
                datenow: '',
            }
        },
        props: {
            data: {
                type: Object,
            }
        },
        methods: {},
        mixins: [
            CurrencyMix
        ]
    }
</script>


<style scoped>
    .item-detail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8rem;
        padding: 0.6rem 1rem;
        margin-top: 0.3rem;
        z-index: 1;
        cursor: pointer;
        border: 1px solid #DDD;
        user-select: none;
    }

    .item-detail:hover {
        z-index: 2;
        transition-duration: 0.2s;
        box-shadow: 0 0 0.2rem 0.1rem #eeca31;
    }

    .detail-primary {
        flex-basis: 80%;
    }

    .detail-code {
        font-family: "RobotoBold";
    }

    .detail-name {
        font-family: "RobotoBold";
        font-size: 1rem;
    }

    .detail-category {
        text-transform: uppercase;
        color: #999;
        font-size: 0.8rem
    }

    .detail-price {
        flex-basis: 20%;
    }

    .detail-stock {
        flex-basis: 10%;
    }
</style>