<template>
    <div class="items-search">
        <input class="search-input" placeholder="Input Kode Barang/Cari Nama Barang" v-model="searchquery"
               v-on:input="timerSearch" v-on:keyup.enter="itemConfirm">
        <div class="search-items">
            <ItemBox v-bind:data="d" v-for="d in itemdata" v-on:click.native="itemSelect(d)"></ItemBox>
        </div>
    </div>
</template>

<script>
    import CurrencyMix from "../mixins/CurrencyMix.js"
    import ItemBox from "./ItemBox.vue"

    export default {
        components: {
            ItemBox
        },
        data() {
            return {
                datenow: '',
                typingTimer: {},
            }
        },
        computed: {
            itemdata() {
                return this.$store.state.barang.item_list;
            }
        },
        methods: {
            itemSelect(data) {
                this.$emit('itemselect', data);
            },
            timerSearch(e) {
                clearTimeout(this.typingTimer);
                this.typingTimer = setTimeout(1000, this.itemSearch(e.target.value))
            },
            itemSearch(query) {
                this.$store.dispatch('barang/searchBarang', query);
            },
            itemConfirm(e) {
                var obj = this;
                clearTimeout(this.typingTimer);
                this.$store.dispatch('barang/searchBarang', e.target.value).then(function () {
                    if (obj.itemdata.length > 0) {
                        obj.$emit('itemselect', obj.itemdata[0]);
                    } else {
                        console.log("Search not found!");
                        //error
                    }
                });
            },
        },
        mixins: [
            CurrencyMix
        ],
        beforeMount() {
            this.$store.dispatch('barang/getAllItem');
        }
    }
</script>

<style scoped>
    .items-search {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        padding: 2rem;
    }

    .search-input {
        margin-top: 1rem;
    }

    .search-items {
        margin-top: 1rem;
        overflow-y: auto;
        padding: 1rem;
    }
</style>