<template>
    <div class="profile-list">
        <div class="list-item" v-for="data in datas">
            <div @click="deleteData(data.data)" class="material-icons button list-delete" v-if="!data.edit">close</div>
            <div @click="editData(data.data)" class="material-icons button list-edit" v-if="!data.edit">edit</div>
            <div @click="saveData(data.data)" class="material-icons button list-save" v-if="data.edit">save</div>
            <div class="list-item-label">
                <div class="profile-details">
                    <div class="profile-column" v-for="cat in category">
                        <div class="profile-detail" v-bind:class="cat" v-if="!data.edit">{{data.data[cat]}}</div>
                        <div class="profile-input" v-else>
                            <input type="text" v-bind:name="cat" v-bind:placeholder="cat" v-bind:value="data.data[cat]"
                                   v-on:input="updateData(data.data, $event)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            category: {
                type: Array
            },
            datasrc: {
                type: String
            },
            primary: {
                type: String
            }
        },
        computed: {
            datas() {
                var src = this.datasrc.split(".");
                var data = this.$store.state;
                for (var i = 0; i < src.length; i++) {
                    data = data[src[i]];
                }
                return data;
            }
        },
        methods: {
            editData(data) {
                var src = this.datasrc.split(".");
                this.$store.commit('setting/editData', {
                    type: src[src.length - 1],
                    key: this.primary,
                    value: data[this.primary],
                    template: this.category
                })
            },
            deleteData(data) {
                var src = this.datasrc.split(".");
                this.$store.dispatch('setting/deleteData', {
                    type: src[src.length - 1],
                    key: this.primary,
                    value: data[this.primary],
                    template: this.category
                })
            },
            saveData(data) {
                var src = this.datasrc.split(".");
                this.$store.dispatch('setting/saveData', {
                    type: src[src.length - 1],
                    key: this.primary,
                    value: data[this.primary],
                    template: this.category
                })
            },
            updateData(data, e) {
                var src = this.datasrc.split(".");
                this.$store.commit('setting/updateData', {
                    type: src[src.length - 1],
                    key: this.primary,
                    value: data[this.primary],
                    template: this.category,
                    updated_key: e.target.name,
                    updated_value: e.target.value
                })
            }
        }
    }
</script>

<style scoped>
    .list-item {
        user-select: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 0.3rem;
        margin-bottom: 0.2rem;
    }

    .list-item-label {
        margin-left: 0.3rem;
    }

    .list-delete {
        color: #d32f2f;
    }

    .list-delete, .list-edit {
        padding: 0.1rem;
    }

    .profile-column:first-child .profile-detail {
        font-family: "RobotoBold";
    }

    .profile-column:not(:first-child) .profile-detail {
        font-size: 0.8rem;
    }

    .profile-input {
        display: flex;
        flex-direction: column;
    }

    .profile-input input {
        background-color: white;
        margin-bottom: 0;
        padding: 0.2rem;
        border-bottom: 1px solid #DDD;
        transition: 0.5s border-bottom-color;
    }

    .profile-input input:focus {
        border-bottom: #ff6d00;
        outline: none;
        box-shadow: none;
        border-bottom: 2px solid #eeca31;
        margin-bottom: -1px;
    }
</style>