<template>
    <div class="pos-receipt">
        <div class="receipt-header">
            <div class="header-title">BEBIKU</div>
            <div class="header-address">Jl Beteng 133, Semarang</div>
            <div class="header-phone">(024) 3549070</div>
            <div class="header-data">
                <div class="data-number"></div>
                <div class="data-sales"></div>
                <div class="data-date"></div>
            </div>
        </div>
        <div class="receipt-content">
            <ReceiptItem></ReceiptItem>
            <ReceiptItem></ReceiptItem>
            <ReceiptItem></ReceiptItem>
            <ReceiptItem></ReceiptItem>
        </div>
        <div class="receipt-footer">
            <div class="footer-total-amt">{{formatMoney(12500)}}</div>
        </div>
    </div>
</template>

<script>
    import ReceiptItem from "./ReceiptItem.vue"
    import CurrencyMix from "../mixins/CurrencyMix.js"

    export default {
        components: {
            ReceiptItem
        },
        data() {
            return {
                datenow: '',
            }
        },
        props: {
            itemList: {
                type: Array,
                default: function () {
                    return []
                }
            }
        },
        mixins: [
            CurrencyMix
        ]
    }
</script>


<style scoped>
    .pos-receipt {
        display: flex;
        flex-flow: column nowrap;
        padding: 2rem;
        width: 40rem;
        height: 100%;
        box-sizing: border-box;
        background-color: #FFFFFF;
        color: #333333;
    }

    .receipt-header {
        text-align: center;
        padding-bottom: 1rem;
        border-bottom: 1px solid #333333;
        margin-bottom: 1rem;
    }

    .header-title {
        font-weight: bold;
    }

    .receipt-content {
        overflow-y: auto;
    }

    .receipt-footer {
        margin-top: auto;
        padding-top: 1rem;
        border-top: 1px solid #333333;
        font-size: 3rem;
        font-weight: bold;
        text-align: right;
    }

</style>