<template>
    <div class="receipt-item">
        <div class="receipt-detail">
            <div class="item item-delete" v-on:click="deleteItem()">
                <i class="button material-icons">close</i>
            </div>
            <div class="item item-detail">{{itemData.nama_barang}}</div>
            <div class="item item-price">{{formatMoney(itemData.harga)}}</div>
            <div class="item item-qty">
                <input min="1" name="qty" type="text" v-bind:disabled="!this.$store.state.penjualan.transaction.open"
                       v-bind:value="itemData.jumlah"
                       v-on:input="updateJumlah($event)">
            </div>
            <div class="item item-total">{{formatMoney(itemData.total)}}</div>
            <div class="item item-caret material-icons-outlined" v-if="opened" v-on:click="toggleDrawer">
                keyboard_arrow_up
            </div>
            <div class="item item-caret material-icons-outlined" v-else v-on:click="toggleDrawer">keyboard_arrow_down
            </div>
        </div>
        {{itemData.selected_warna.warna}}
        <div class="receipt-drawer" v-bind:class="{open: itemData.opened}">
            <select id="input-warna" name="warna" placeholder="Warna"
                    v-bind:disabled="!this.$store.state.penjualan.transaction.open"
                    v-on:change="updateWarna($event)">
                <option v-bind:key="w.warna" v-bind:selected="w.warna == itemData.selected_warna" v-bind:value="w.warna"
                        v-for="w in itemData.stok_warna">{{w.warna}}
                </option>
            </select>
            <input id="input-diskon" placeholder="Diskon" type="text"
                   v-bind:disabled="!this.$store.state.penjualan.transaction.open"
                   v-bind:value="itemData.diskon"
                   v-on:input="updateDiskon($event)">
            <input id="input-notes" placeholder="Notes" type="text"
                   v-bind:disabled="!this.$store.state.penjualan.transaction.open"
                   v-bind:value="itemData.notes"
                   v-on:input="updateNotes($event)">
        </div>
    </div>
</template>

<script>
    import CurrencyMix from "../mixins/CurrencyMix.js"

    export default {
        props: {
            itemData: {
                type: Object,
                default: function () {
                    return {
                        kode_barang: "ABC123",
                        nama_barang: "Nama Barang",
                        harga: 12500,
                        jumlah: 1,
                        total: 12500,
                        stok_warna: [],
                        notes: '',
                        selected_warna: '',
                        opened: false,
                    }
                }
            }
        },
        methods: {
            openDrawer() {
                this.opened = !this.opened;
            },
            deleteItem() {
                this.$store.commit('penjualan/deleteBarang', this.itemData);
            },
            updateJumlah(e) {
                this.$store.commit('penjualan/updateJumlah', {product: this.itemData, jumlah: e.target.value})
            },
            updateNotes(e) {
                this.$store.commit('penjualan/updateNotes', {product: this.itemData, notes: e.target.value});
            },
            updateDiskon(e) {
                this.$store.commit('penjualan/updateDiskon', {product: this.itemData, diskon: e.target.value});
            },
            updateWarna(e) {
                this.$store.commit('penjualan/updateWarna', {product: this.itemData, warna: e.target.value});
            },
            toggleDrawer() {
                this.$store.commit('penjualan/toggleDrawer', {product: this.itemData})
            }
        },
        mixins: [
            CurrencyMix
        ]
    }
</script>


<style scoped>
    .receipt-detail {
        display: flex;
        flex-flow: row nowrap;
        font-size: 0.8rem;
        padding-bottom: 0.1rem;
        justify-content: space-between;
        align-items: center;
        user-select: none;
    }

    .receipt-item {
        display: flex;
        flex-flow: column nowrap;
        padding-bottom: 0.4rem;
    }

    .receipt-drawer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        overflow: hidden;
        max-height: 0;
        padding: 0.1rem;
        visibility: hidden;
    }

    .receipt-drawer.open {
        max-height: 5rem;
        transition: max-height 0.4s ease-out;
        visibility: visible;
    }

    .item {
        display: flex;
        padding-right: 0.2rem;
        padding-left: 0.2rem;
        box-sizing: border-box;
        align-items: center;
    }

    .item-delete {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 10%;
    }

    .item-delete .button {
        color: #d32f2f;
        cursor: pointer;
    }

    .item-detail {
        width: 43%;
        overflow: hidden;
    }

    .item-qty {
        width: 12%;
    }

    .item-qty input {
        text-align: center;
        box-sizing: border-box;
        width: 100%;
        background-color: transparent;
        transition: 0.5s border-bottom-color;
        border-bottom: 1px solid #DDD;
        margin-bottom: 0;
        padding: 0 0 0.1rem;
    }

    .item-qty input[disabled] {
        border: none;
    }

    .item-qty input:focus {
        box-shadow: none;
        box-sizing: border-box;
        border-bottom: 2px solid #eeca31;
        margin-bottom: -1px;
    }

    .item-price {
        width: 15%;
    }

    .item-total {
        width: 15%;
        text-align: right;
    }

    .item-caret {
        cursor: pointer;
    }

    #input-warna {
        width: 6rem;
    }

    #input-diskon {
        width: 2rem;
    }

    #input-notes {
        width: 8rem;
    }
</style>