<template>
    <div class="settings-group-content">
        <ProfileBox v-bind:category="category" v-bind:datasrc="datasrc" v-bind:primary="primary"></ProfileBox>
        <div class="list-add button" v-on:click="addData">
            <i class="material-icons-outlined">add_circle_outline</i>
            <div class="list-add-label">Tambah {{propname}}</div>
        </div>
    </div>
</template>

<script>
    import ProfileBox from './ProfileBox.vue'

    export default {
        components: {
            ProfileBox
        },
        props: ["propname", "category", "datasrc", "primary"],
        methods: {
            addData() {
                var src = this.datasrc.split(".");
                this.$store.commit("setting/addData", {
                    type: src[src.length - 1],
                    key: this.primary,
                    template: this.category,
                })
            }
        }
    }
</script>

<style scoped>
    /* List Settings */
    .list-add {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-transform: uppercase;
        font-family: "RobotoBold";
        font-size: 0.8rem;
    }

    .list-add .material-icons-outlined {
        margin-left: 0.4rem;
    }

    .list-add-label {
        margin-left: 0.5rem;
    }
</style>