<template>
    <div class="settings-form">
        <div class="settings-form-label">{{label}}</div>
        <div class="settings-form-input">
            <input type="text" v-bind:value="settingsValue" @input="updateValue($event)">
            <div @click="saveValue()" class="material-icons button list-save">save</div>
        </div>
    </div>
</template>

<script>

    export default {
        data() {
            return {}
        },
        computed: {
            settingsValue() {
                var data = this.$store.state.setting.settings.filter(x => {return x.key === this.source});
                if(data.length === 1){
                    return data[0].value
                }
            },
        },
        methods: {
            updateValue(e) {
                this.$store.commit("setting/updateSettings",{key: this.source, value: e.target.value})
            },
            saveValue() {
                this.$store.dispatch("setting/saveSettings",{key: this.source})
            },
        },
        components: {},
        props: ["label", "source"],
    }
</script>

<style scoped>
    /* List Form */
    .settings-form {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .settings-form-label {
        font-family: "RobotoBold";
        font-size: 0.8rem;
        text-transform: uppercase;
    }

    .settings-form-input {
        padding: 0.5rem;
    }

    .settings-form-input input {
        background: transparent;
        padding: 0.2rem;
        border-bottom: 1px solid #DDDDDD;
    }

    .settings-form-input input::placeholder {
        color: transparent;
    }
</style>