<template>
    <div class="app-pane">
        <keep-alive v-if="!noKeepAliveComp.includes(component)">
            <component v-bind:is="component"></component>
        </keep-alive>
        <component v-else v-bind:is="component"></component>
    </div>
</template>

<script>
    import Dashboard from "./appcomp/Dashboard.vue";
    import Grosir from "./appcomp/Grosir.vue";
    import Penjualan from "./appcomp/Penjualan.vue";
    import DataBarang from "./appcomp/DataBarang.vue";
    import Backup from "./appcomp/Backup.vue";
    import Settings from "./appcomp/Settings.vue";

    export default {
        components: {
            Dashboard, Grosir, Penjualan, DataBarang, Backup, Settings
        },
        data() {
            return {
                text: '',
                noKeepAliveComp: ["DataBarang", "Settings"]
            }
        },
        props: {
            'component': {
                type: String,
            }
        }
    }
</script>


<style scoped>
    .app-pane {
        background-color: #FFFFFF;
        display: flex;
        flex-flow: column nowrap;
        flex-grow: 3;
        align-content: stretch;
        color: #495057;
    }
</style>