<template>
    <div class="menu">
        <div class="button" v-bind:class="{selected:menu.isActive}" v-bind:key="menu.name" v-bind:title="menu.name"
             v-for="(menu, index) in menus" v-on:click="changeMenu(menu, index)">
            <div class="button-logo material-icons">{{menu.logo}}</div>
            <div class="button-caption">{{menu.name}}</div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                activeMenu: 0,
                menus: [
                    {
                        "name": "Laporan",
                        "component": "Dashboard",
                        "logo": "assignment",
                        isActive: false,
                        callback: function (ctx) {
                            ctx.$store.dispatch('dashboard/loadStockData');
                        }
                    },
                    {
                        "name": "Daftar Barang",
                        "component": "DataBarang",
                        "logo": "list",
                        isActive: false,
                        callback: function (ctx) {
                            ctx.$store.dispatch('barang/getAllItem');
                            ctx.$store.dispatch('barang/getAllGrupBarang');
                        }
                    },
                    {
                        "name": "Penjualan",
                        "component": "Penjualan",
                        "logo": "shopping_cart",
                        isActive: false,
                        callback: function (ctx) {
                            ctx.$store.dispatch('barang/getAllItem');
                            if (ctx.$store.state.penjualan.saved_transaction.length === 0 || !ctx.$store.state.penjualan.saved_transaction[ctx.$store.state.penjualan.current_loaded].open) {
                                ctx.$store.commit('penjualan/newJual');
                            }
                            ctx.$store.dispatch('penjualan/refreshList');
                            ctx.$store.dispatch('penjualan/refreshPegawai');
                        }
                    },
                    // {
                    //     "name": "Penjualan Grosir",
                    //     "component": "Grosir",
                    //     "logo": "add_shopping_cart",
                    //     isActive: false,
                    // },
                    // {
                    //     "name": "Backup",
                    //     "component": "Backup",
                    //     "logo": "backup",
                    //     isActive: false,
                    // },
                    {
                        "name": "Settings",
                        "component": "Settings",
                        "logo": "settings",
                        isActive: false,
                    },
                ],
            }
        },
        methods: {
            changeMenu: function (menu, index) {
                this.$emit('changemenu', menu.component);
                this.menus[this.activeMenu].isActive = false;
                this.menus[index].isActive = true;
                this.activeMenu = index;
                if ("callback" in this.menus[index]) {
                    this.menus[index].callback(this);
                }
            }
        },
        created() {
            this.menus[this.activeMenu].isActive = true;
        }
    }
</script>


<style scoped>
    .menu {
        display: flex;
        background-color: rgb(30, 30, 30);
        width: 4rem;
        flex-direction: column;
    }

    .menu .button {
        text-align: center;
        padding: 1rem 0;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        transition-duration: 0.2s;
    }

    .menu .button:hover {
        background-color: rgb(60, 60, 60);
    }

    .menu .button.selected {
        background-color: #ff6d00 !important;
    }

    .button-caption {
        font-family: "RobotoBold";
        font-size: 0.7rem;
        text-align: center;
    }
</style>