<template>
    <div class="modal" v-bind:class="modalClass">
        <div class="modal-box">
            <div class="modal-header">
                <div class="header-icon material-icons">
                    {{$store.state.modal.icon}}
                </div>
                <div class="header-title">
                    {{$store.state.modal.title}}
                </div>
                <div @click="closeModal" class="header-close material-icons">
                    close
                </div>
            </div>
            <div class="modal-body">
                {{$store.state.modal.message}}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        computed: {
            modalClass() {
                var shown = this.$store.state.modal.shown ? "shown" : "";
                var type = this.$store.state.modal.type;

                return shown + " " + type;
            }
        },
        methods: {
            closeModal() {
                this.$store.commit('modal/closeModal');
            }
        }
    }
</script>


<style scoped>
    .modal {
        height: 100vh;
        width: 100vw;
        display: none;
        transition-duration: 0.2s;
        user-select: none;
    }

    .modal.shown {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        background-color: #9999997A;
        align-items: center;
        justify-content: center;
    }

    .modal-box {
        background-color: #FFF;
    }

    .modal-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: stretch;
        padding: 0.8rem;
    }

    .header-icon {
        width: 2rem;
        font-size: 2rem;
        flex-basis: 10%;
    }

    .header-title {
        font-family: "RobotoBold";
        font-size: 1rem;
        margin-left: 0.6rem;
        flex-basis: 80%;
        flex-grow: 4;
    }

    .header-close {
        cursor: pointer;
        justify-self: flex-end;
        flex-basis: 10%;
    }

    .modal-body {
        font-size:0.9rem;
        padding: 1rem;
        min-width: 15rem;
    }

    .modal.danger .modal-header {
        background-color: #d32f2f;
        color: #FFF;
    }

    .modal.info .modal-header {
        background-color: #ff6d00;
        color: #FFF;
    }

    .modal.warning .modal-header {
        background-color: #eeca31;
    }

    .modal.success .modal-header {
        background-color: #28a745;
        color: #FFF;
    }
</style>