<template>
    <div id="app">
        <MenuBar v-on:changemenu="changeComponent"></MenuBar>
        <AppPane v-bind:component="currentComponent"></AppPane>
        <Modal></Modal>
    </div>
</template>

<script>
    import MenuBar from './components/MenuBar.vue';
    import Modal from './components/Modal.vue';
    import AppPane from './components/AppPane.vue';

    export default {
        components: {
            MenuBar, AppPane, Modal
        },
        data() {
            return {
                currentComponent: 'Dashboard',
                text: ''
            }
        },
        methods: {
            changeComponent: function (componentName) {
                this.currentComponent = componentName;
            }
        },
    }
</script>

<style>
    @font-face {
        font-family: 'RobotoReg';
        src: url('./font/Roboto-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'RobotoBold';
        src: url('./font/Roboto-Bold.ttf') format('truetype');
    }

    @font-face {
        font-family: 'RobotoLight';
        src: url('./font/Roboto-Light.ttf') format('truetype');
    }

    body, html {
        font-family: "RobotoReg";
        margin: 0;
    }

    input {
        font-family: "RobotoReg";
    }

    #app {
        height: 100vh;
        box-sizing: border-box;
        display: flex;
        flex-flow: row nowrap;
    }

    *::-webkit-scrollbar {
        background: #DDDDDD99;
        width: 0.6rem;
        height: 0.6rem;
    }

    *::-webkit-scrollbar-thumb {
        width: 0.6rem;
        height: 0.6rem;
        border-radius: 0.4rem;
        background: #AAAAAA;
    }

    *::-webkit-scrollbar-thumb:hover {
        background: #999999;
    }

    input, select {
        font-family: "RobotoReg";
        padding: 0.6rem 1rem;
        border: none;
        background-color: #EEE;
        transition: 0.3s ease-in-out;
    }

    input:focus {
        outline: 0;
        box-shadow: 0 0 0.2rem 0.1rem #eeca31;
        background-color: #FFF;
    }

    input:disabled {
        background-color: #CCC;
    }

    select {
        padding-left: 0.575rem;
        color: #777;
    }

    input::placeholder, select {
        text-transform: uppercase;
        font-size: 0.7rem;
        font-family: "RobotoBold";
    }

    input:focus::placeholder {
        transition-duration: 0.2s;
        opacity: 0;
    }

    .button {
        user-select: none;
        cursor: pointer;
    }

    .pos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row nowrap;
        width: 100%;
        height: 100%;
    }

    /* Item List */
    .pos-items {
        display: flex;
        flex-flow: column nowrap;
        flex-basis: 40%;
        flex-grow: 1;
        box-sizing: border-box;
        height: 100%;
        background-color: #FFFFFF;
        position: relative;
        align-items: stretch;
        justify-content: stretch;
        max-height: 100%;
    }

    .items-header {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        padding: 1rem 1.5rem;
        background-color: #ffca00;
    }

    .searchbar-label {
        flex-grow: 1;
    }

    .label {
        font-family: "RobotoBold";
        font-size: 0.8rem;
        text-transform: uppercase;
    }

    .default-button {
        background-color: #ffca00;
        transition-duration: 0.2s;
        padding: 0.5rem 1rem;
    }

    .default-button:hover {
        background-color: #c79a00;
    }
</style>