<template>
    <div class="dashboard">
        <div class="dashboard-titlebar">
            <div class="titlebar-title">BEBIKU</div>
            <div class="titlebar-time">{{datenow}}</div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                datenow: '',
            }
        },
        methods: {
            time() {
                this.datenow = new Date()
            },
        },
        mounted() {
            this.interval = setInterval(this.time, 1000)
        },
        beforeDestroy() {
            clearInterval(this.interval)
        }
    }
</script>


<style scoped>
    .dashboard-titlebar {
        display: flex;
        flex-flow: row nowrap;
    }
</style>