<template>
    <div class="pos">
        <!-- Item List -->
        <div class="pos-items">
            <div class="items-header">
                <div class="searchbar-label label">+ DASHBOARD</div>
            </div>
            <div class="items-settings">
                <div class="report-block">
                    <div class="report-header">
                        <div class="report-title">
                            - Simpan Laporan Penjualan
                        </div>
                        <div class="report-options">
                            <div class="options-more button">
                                <i class="material-icons">more_vert</i>
                            </div>
                        </div>
                    </div>
                    <div class="report-content">
                        <div class="laporan-pane">
                            <div class="options-headers">
                                OPTIONS
                            </div>
                            <div class="laporan-options">
                                <div class="options-group">
                                    <div class="options-items">
                                        <Dropdown class="dropdown options-object"
                                                  v-bind:defaultcontent="options.category[0]"
                                                  v-bind:options="options.category"
                                                  data="category"
                                                  v-on:dropdown:select="updateData"></Dropdown>
                                    </div>
                                    <div class="options-items">
                                        <Dropdown class="dropdown options-time"
                                                  v-bind:defaultcontent="options.time[0]"
                                                  v-bind:options="options.time"
                                                  data="time"
                                                  v-on:dropdown:select="updateData"></Dropdown>
                                    </div>
                                </div>
                                <div class="options-group">
                                    <div class="options-items" v-if="report_settings.time==='Per Bulan'">
                                        <datepicker
                                                placeholder="Tanggal Mulai"
                                                wrapper-class="dpinput"
                                                v-model="report_settings.date"
                                                minimum-view="month"
                                                :disabled-dates="disabledDates"
                                                format="MMMM yyyy">
                                        </datepicker>
                                    </div>
                                    <div class="options-items" v-else>
                                        <datepicker
                                                placeholder="Tanggal Mulai"
                                                wrapper-class="dpinput"
                                                v-model="report_settings.date"
                                                :disabled-dates="disabledDates">
                                        </datepicker>
                                    </div>
                                </div>
                            </div>
                            <div class="button-collection">
                                <div class="button default-button label save-button" @click="createReport">
                                    Simpan Laporan
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="items-settings" style="height: 80%;">
                <div class="report-block" style="height: 100%;">
                    <div class="report-header">
                        <div class="report-title">
                            - Monitor Stok
                        </div>
                        <div class="report-options">
                            <div class="options-more button">
                                <i class="material-icons">more_vert</i>
                            </div>
                        </div>
                    </div>
                    <div class="report-content stock-list" style="height: 80%;">
                        <!-- List Data -->
                        <ItemBoxMin v-bind:data="s" v-for="s in stockData"></ItemBoxMin>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import CurrencyMix from "./mixins/CurrencyMix.js"
    import Dropdown from "./parts/Dropdown.vue";
    import ItemBoxMin from "./parts/ItemBoxMin.vue";
    import Datepicker from 'vuejs-datepicker';

    export default {
        components: {
            ItemBoxMin, Dropdown, Datepicker
        },
        data() {
            return {
                report_settings: {
                    category: '',
                    time: '',
                    date: new Date(),
                },
                options: {
                    category: ["Kategori Barang", "Pegawai"],
                    time: ["Per Bulan", "Per Hari"]
                },
                disabledDates: {
                    from: new Date()
                }
            }
        },
        methods: {
            updateData(selected, source) {
                this.report_settings[source] = selected;
            },
            createReport(){
                this.$store.dispatch('dashboard/getReportData', this.report_settings).then(data => {
                    this.$store.dispatch('exporter/createReport', {config: this.report_settings, data: data});
                })
            }
        },
        computed: {
            stockData() {
                return this.$store.state.dashboard.stock;
            },
        },
        mounted() {
            this.$store.dispatch('dashboard/loadStockData');
            this.report_settings.category = this.options.category[0];
            this.report_settings.time = this.options.time[0];
        },
        mixins: [
            CurrencyMix
        ]
    }
</script>


<style scoped>
    .items-settings {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }

    .report-block {
        flex-grow: 1;
        padding: 1rem;
        box-sizing: border-box;
    }

    .report-title {
        text-transform: uppercase;
        font-family: "RobotoLight";
        font-size: 2rem;
    }

    .report-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.2rem;
    }

    .laporan-pane {
        display: flex;
        flex-direction: column;
    }

    .laporan-options {
        display: flex;
        flex-direction: column;
    }

    .options-group {
        display: flex;
        flex-direction: row;
        padding: 0.4rem;
    }

    .options-items {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .options-headers {
        font-family: "RobotoBold";
        font-size: 0.8rem;
    }

    .button-collection {
        display: flex;
        justify-content: space-between;
    }

    .button-collection .button {
        text-align: center;
    }

    .stock-list {
        height: 80%;
        margin-top: 0.5rem;
        overflow-y: auto;
        padding: 0.5rem
    }
</style>

<style>
    .dpinput {
        width: 7rem;
        margin-bottom: 0.5rem;
    }

    .dpinput input {
        box-sizing: border-box;
        width: 100%;
        background-color: transparent;
        transition: 0.5s border-bottom-color;
        border-bottom: 1px solid #DDD;
        margin-bottom: 0;
        padding: 0 0 0.1rem;
    }

    .dpinput input:focus {
        box-shadow: none;
        box-sizing: border-box;
        border-bottom: 2px solid #eeca31;
        margin-bottom: -1px;
    }

    .dpinputmid {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        height: 0rem;
        width: 0.4rem;
        padding: 0.2rem;
        border-bottom: 1px solid #333333;
        margin-bottom: 0.7rem;
    }

    .options-errors {
        text-transform: uppercase;
        font-size: 0.7rem;
        color: #9a0007;
    }

    .options-items {
        padding-right: 0.2rem;
    }
</style>