<template>
    <div class="pos">
        <!-- Item List -->
        <div class="pos-items">
            <div class="items-header">
                <div class="searchbar-label label">+ DAFTAR BARANG</div>
            </div>
            <ItemSearch v-on:itemselect="editBarang($event)"></ItemSearch>
            <div class="items-add button" v-on:click="addBarang()">
                <i class="material-icons">add</i>
            </div>
        </div>

        <!-- Form -->
        <div class="pos-group">
            <div class="group-form">
                <div class="form-header">
                    EDIT BARANG
                </div>
                <div class="form-input">
                    <div class="form-grouping-ver">
                        <input id="input-kode" name="kode_barang" placeholder="Kode Barang" type="text"
                               v-model="currentItem.kode_barang">
                        <input id="input-nama" name="nama_barang" placeholder="Nama Barang" type="text"
                               v-model="currentItem.nama_barang">
                    </div>
                    <div class="form-grouping-hor">
                        <div class="form-grouping-ver" id="grouping-detail">
                            <input id="input-harga" name="harga_barang" placeholder="Harga" type="text"
                                   v-model="currentItem.harga">
                        </div>
                        <div class="form-grouping-ver" id="grouping-stok">
                            <select id="input-kode-grup" name="kode_grup_barang" placeholder="Kode Grup"
                                    v-model="currentItem.kode_grup_barang">
                                <option value="">Kode Grup</option>
                                <option v-bind:value="g.kode_grup" v-for="g in grupBarang">{{g.kode_grup}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="group-stok">
                        <div class="group-header">
                            Stok
                        </div>
                        <div class="form-grouping-scroll">
                            <div class="form-grouping-hor"
                                 v-bind:key="idx"
                                 v-for="(sw, idx) in currentItem.stok_warna.filter((data) => !data.deleted)">
                                <input name="warna" placeholder="Warna" type="text" v-bind:disabled="sw.lock"
                                       v-model="sw.warna">
                                <input class="stok-input" name="stok" placeholder="stok" type="text" v-model="sw.stok"
                                       v-on:input="sw.changed=true">
                                <div class="button list-delete-stok" v-on:click="deleteStokKolom(idx)">
                                    <i class="material-icons-outlined">close</i>
                                </div>
                            </div>
                        </div>
                        <div class="list-add button" v-on:click="addStokKolom">
                            <i class="material-icons-outlined">add_circle_outline</i>
                            <div class="list-add-label">Tambah Stok Warna</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group-button">
                <div class="button button-save" v-on:click="saveBarang">SIMPAN</div>
                <div class="button button-print">PRINT</div>
                <div class="button list-delete" v-on:click="deleteBarang">HAPUS</div>
            </div>
        </div>
    </div>
</template>

<script>
    import CurrencyMix from "./mixins/CurrencyMix.js"
    import ItemSearch from "./parts/ItemSearch.vue"

    export default {
        components: {
            ItemSearch
        },
        data() {
            return {
                currentItem: {
                    old_kode_barang: '',
                    kode_barang: '',
                    nama_barang: '',
                    harga: '',
                    kode_grup_barang: '',
                    stok_warna: []
                },
                stokcount: 1
            }
        },
        computed: {
            grupBarang() {
                return this.$store.state.barang.grup_barang;
            }
        },
        methods: {
            editBarang(e) {
                this.currentItem.old_kode_barang = e.kode_barang;
                this.currentItem.kode_barang = e.kode_barang;
                this.currentItem.nama_barang = e.nama_barang;
                this.currentItem.harga = e.harga;
                this.currentItem.kode_grup_barang = e.kode_grup_barang;
                this.currentItem.stok_warna = JSON.parse(JSON.stringify(e.stok_warna));
            },
            saveBarang() {
                this.currentItem.stok_warna.forEach((data, idx) => {
                    data.lock = true;
                });
                if (this.currentItem.old_kode_barang === '') {
                    this.$store.dispatch('barang/newItem', this.currentItem).then(() => {
                        this.currentItem.old_kode_barang = this.currentItem.kode_barang;
                    },(reason)=>{
                        this.$store.commit('modal/showModal', {
                            title: 'Gagal Menyimpan Barang',
                            message: reason,
                            icon: 'error',
                            type: 'danger'
                        });
                    });
                } else {
                    this.$store.dispatch('barang/saveItem', this.currentItem).then(() => {
                        var kode_barang = this.currentItem.kode_barang;
                        this.currentItem.old_kode_barang = kode_barang;

                        // Refresh item
                        var i = this.length;
                        while (i--) {
                            if (arr[i].deleted) {
                                arr.splice(i, 1);
                            }
                        }
                        console.log(this.currentItem)
                    }, (reason) => {
                        this.$store.commit('modal/showModal', {
                            title: 'Gagal Menyimpan Barang',
                            message: reason,
                            icon: 'error',
                            type: 'danger'
                        });
                    });
                }
            },
            addBarang(e) {
                this.currentItem.old_kode_barang = '';
                this.currentItem.kode_barang = '';
                this.currentItem.nama_barang = '';
                this.currentItem.harga = '';
                this.currentItem.kode_grup_barang = '';
                this.currentItem.stok_warna = [];
            },
            deleteBarang(e) {
                this.$store.dispatch('barang/deleteItem', this.currentItem).then(() => {
                    this.currentItem.old_kode_barang = '';
                    this.currentItem.kode_barang = '';
                    this.currentItem.nama_barang = '';
                    this.currentItem.harga = '';
                    this.currentItem.kode_grup_barang = '';
                    this.currentItem.stok_warna = [];
                });
            },
            addStokKolom() {
                this.currentItem.stok_warna.push({
                    warna: '',
                    stok: 0,
                    changed: true,
                    lock: false,
                    deleted: false,
                })
            },
            deleteStokKolom(idx) {
                this.currentItem.stok_warna[idx].deleted = true;
            }
        },
        mixins: [
            CurrencyMix
        ],
        mounted() {
            this.$store.dispatch('barang/getAllGrupBarang')
        }
    }
</script>


<style scoped>
    .items-add {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 2rem;
        background-color: #ffca00;
        position: absolute;
        right: 1rem;
        bottom: 1rem;
    }

    .items-add i {
        font-size: 2rem;
    }

    .pos-group {
        display: flex;
        flex-basis: 40%;
        flex-direction: column;
        height: 100%;
    }

    /* Data */
    .group-form {
        display: flex;
        flex-flow: column nowrap;
        flex-grow: 9;
        box-sizing: border-box;
        background-color: #FFFFFF;
        border-left: 1px solid #DDD;
    }

    .form-header {
        display: flex;
        align-items: flex-end;
        text-transform: uppercase;
        font-family: "RobotoBold";
        flex-grow: 9;
        padding: 2rem;
        background: url('./img/ambient.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-size: 1.5rem;
        color: #FFF;
    }

    .form-input {
        flex-grow: 1;
        padding: 2rem;
        height: 25rem;
    }

    .form-grouping-hor {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
    }

    .form-grouping-ver {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-content: stretch;
    }

    .form-grouping-ver input, .form-grouping-ver select, .form-grouping-hor input, .form-grouping-hor select {
        margin: 0.2rem;
    }

    .group-form input, .group-form select {

    }

    #grouping-detail {
        flex-grow: 2;
    }

    #grouping-stok .block-header label {
        align-self: flex-start;
        font-size: 0.8rem;
    }

    .group-header {
        text-transform: uppercase;
        font-family: "RobotoBold";
        font-size: 0.8rem;
        color: #495057;
        margin: 1rem 1rem 0.2rem;
    }


    /* Button */
    .group-button {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
    }

    .button {
        font-family: "RobotoBold";
        font-size: 0.9rem;
        text-transform: capitalize;
        text-align: center;
        padding: 1rem;
        background-color: #ffca00;
        flex-grow: 1;
        transition: 0.2s ease-in-out;
    }

    .button:hover {
        background-color: #c79a00;
    }

    .list-delete {
        background-color: #d32f2f;
        color: #FFF;
    }

    .list-delete:hover {
        background-color: #9a0007;
    }

    .list-add {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-transform: uppercase;
        font-family: "RobotoBold";
        font-size: 0.8rem;
        background: transparent;
    }

    .list-add:hover {
        background: transparent;
    }

    .list-add .material-icons-outlined {
        margin-left: 0.4rem;
    }

    .list-add-label {
        margin-left: 0.5rem;
    }


    .list-delete-stok, .list-delete-stok:hover {
        background: transparent;
        padding: 0;
        display: flex;
        align-items: center;
    }

    .stok-input {
        width: 3rem;
    }

    .form-grouping-scroll {
        overflow-y: auto;
        max-height: 14rem;
    }

</style>