<template>
    <div class="pos">
        <!-- Item List -->
        <div class="pos-items">
            <div class="items-header">
                <div class="searchbar-label label">+ PENJUALAN GROSIR</div>
            </div>
            <ItemSearch></ItemSearch>
        </div>

        <!-- Receipt -->
        <div class="pos-group">
            <div class="group-form">
                <div class="receipt-header">
                    <div class="header-message">
                        Nama Toko
                    </div>
                    <div class="header-detail">
                        <div class="detail-block detail-date">
                            <div class="block-header label">
                                TANGGAL
                            </div>
                            <div class="block-content">
                                25 Juli 2019
                            </div>
                        </div>
                        <div class="detail-block detail-time">
                            <div class="block-header label">
                                WAKTU
                            </div>
                            <div class="block-content">
                                09:00
                            </div>
                        </div>
                    </div>
                    <div class="header-detail">
                        <div class="detail-block detail-number">
                            <div class="block-header label">
                                NO NOTA
                            </div>
                            <div class="block-content">
                                #0000001
                            </div>
                        </div>
                        <div class="detail-block detail-sales">
                            <div class="block-header label">
                                SALES
                            </div>
                            <div class="block-content">
                                Boedi
                            </div>
                        </div>
                    </div>
                </div>
                <div class="receipt-content">
                    <ReceiptItem></ReceiptItem>
                    <ReceiptItem></ReceiptItem>
                    <ReceiptItem></ReceiptItem>
                    <ReceiptItem></ReceiptItem>
                </div>
                <div class="receipt-footer detail-block">
                    <div class="block-header label">TOTAL</div>
                    <div class="footer-total-amt">{{formatMoneyCurrency(12500)}}</div>
                </div>
            </div>
            <div class="group-trxlist">
                <div class="button trxlist-prev"><i class="material-icons">navigate_before</i></div>
                <div class="trxlist-current">{{id}}</div>
                <div class="button trxlist-next"><i class="material-icons">navigate_next</i></div>
            </div>
            <div class="group-button">
                <div class="button button-finish">SELESAI</div>
                <div class="button button-save">SIMPAN</div>
                <div class="button button-print">PRINT</div>
                <div class="button list-delete">BATAL</div>
            </div>
        </div>
    </div>
</template>

<script>
    import ItemBox from "./parts/ItemBox.vue"
    import ItemSearch from "./parts/ItemSearch.vue"
    import ReceiptItem from "./parts/ReceiptItem.vue"
    import CurrencyMix from "./mixins/CurrencyMix.js"

    export default {
        components: {
            ItemBox, ItemSearch, ReceiptItem
        },
        data() {
            return {
                datenow: '',
                id: 0
            }
        },
        mixins: [
            CurrencyMix
        ]
    }
</script>


<style scoped>
    /* General */
    .pos-group {
        display: flex;
        flex-direction: column;
        flex-basis: 40%;
        height: 100%;
    }

    .group-form {
        display: flex;
        flex-flow: column nowrap;
        flex-grow: 9;
        padding: 2rem;
        box-sizing: border-box;
        background-color: #FFFFFF;
        border-left: 1px solid #DDD;
    }

    /* Receipt */
    .receipt-header {
        text-align: left;
        padding-bottom: 1rem;
        border-bottom: 1px solid #DDD;
        margin-bottom: 1rem;
    }

    .header-message {
        text-align: center;
        text-transform: uppercase;
        font-family: "RobotoBold";
        font-size: 1.2rem;
    }

    .header-detail {
        display: flex;
        flex-direction: row;
        align-content: stretch;
        justify-items: center;
        margin-top: 0.3rem;
    }

    .header-detail > *:last-child {
        text-align: right;
    }

    .header-detail > *:last-child {
        text-align: right;
    }

    .header-detail > * {
        flex-grow: 1;
    }

    .header-detail .block-header label {
        font-size: 0.7rem;
    }

    .receipt-content {
        overflow-y: auto;
    }

    .receipt-footer {
        margin-top: auto;
        padding-top: 1rem;
        border-top: 1px solid #DDD;
        font-size: 3rem;
        font-weight: bold;
        text-align: right;
    }

    .receipt-footer .block-header label {
        font-size: 1rem;
    }

    /* trxlist */
    .group-trxlist {
        display: flex;
        flex-direction: row;
    }

    div[class^="trxlist"] {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffca00;
        transition-duration: 0.2s;
        user-select: none;
        padding: 0.5rem;
    }

    .trxlist-current {
        font-family: "RobotoBold";
        flex-grow: 8;
        background-color: #fffd50 !important;
    }

    .trxlist-next, .trxlist-prev {
        flex-grow: 1;
        background-color: #ffca00;
    }

    .trxlist-next:hover, .trxlist-prev:hover {
        background-color: #c79a00;
    }

    /* Button */
    .group-button {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
    }

    .button {
        font-family: "RobotoBold";
        font-size: 0.9rem;
        text-transform: capitalize;
        text-align: center;
        padding: 1rem;
        background-color: #ffca00;
        flex-grow: 1;
        transition: 0.2s ease-in-out;
    }

    .button:hover {
        background-color: #c79a00;
    }

    .list-delete {
        background-color: #d32f2f;
        color: #FFF;
    }

    .list-delete:hover {
        background-color: #9a0007;
    }
</style>