<template>
    <div class="pos">
        <!-- Item List -->
        <div class="pos-items">
            <div class="items-header">
                <div class="searchbar-label label">+ PENJUALAN</div>
            </div>
            <ItemSearch v-on:itemselect="addBarang($event)"></ItemSearch>
        </div>

        <!-- Receipt -->
        <div class="pos-group">
            <div class="group-form">
                <div class="receipt-header">
                    <div class="header-message">
                        {{nama_toko}}
                    </div>
                    <div class="header-detail">
                        <div class="detail-block detail-date">
                            <div class="block-header label">
                                TANGGAL
                            </div>
                            <div class="block-content">
                                <datepicker id="datepicker" placeholder="Select Date" :value="current_date"
                                            :language="idn" :full-month-name="true" @input="updateDate"></datepicker>
                            </div>
                        </div>
                        <div class="detail-block detail-time">
                            <div class="block-header label">
                                WAKTU
                            </div>
                            <div class="block-content">
                                {{current_time}}
                            </div>
                        </div>
                    </div>
                    <div class="header-detail">
                        <div class="detail-block detail-number">
                            <div class="block-header label">
                                NO NOTA
                            </div>
                            <div class="block-content">
                                #{{("00000"+$store.state.penjualan.transaction.no_nota).slice("-5")}}
                            </div>
                        </div>
                        <div class="detail-block detail-sales">
                            <div class="block-header label">
                                SALES
                            </div>
                            <div class="block-content dropdown-detail">
                                <select class="dropdown" placeholder="Select" v-on:change="updatePegawai">
                                    <option value="" v-bind:selected="pegawai === ''">Pilih Pegawai</option>
                                    <option v-bind:value="p.kode_pegawai" v-for="p in pegawai_list"
                                            v-bind:selected="pegawai === p.nama">{{p.nama}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="receipt-content">
                    <ReceiptItem v-bind:itemData="item" v-bind:value="item.kode_barang"
                                 v-for="item in item_list"></ReceiptItem>
                </div>
                <div class="receipt-footer detail-block">
                    <div class="block-header label">TOTAL</div>
                    <div class="footer-total-amt">{{formatMoneyCurrency(total)}}</div>
                </div>
            </div>
            <div class="group-trxlist">
                <div @click="loadPrev" class="button trxlist-prev"><i class="material-icons">navigate_before</i></div>
                <div class="trxlist-current">
                    {{$store.state.penjualan.current_loaded+1}}/{{$store.state.penjualan.saved_transaction.length}}
                </div>
                <div @click="loadNext" class="button trxlist-next"><i class="material-icons">navigate_next</i></div>
            </div>
            <div class="group-button">
                <div class="button button-finish" v-bind:disabled="disable_finish"
                     v-if="is_open"
                     v-on:click="finishJual">SIMPAN
                </div>
                <div class="button button-reset" v-else v-on:click="resetJual">EDIT</div>
                <div class="button button-new" v-on:click="newJual">BARU</div>
                <div class="button button-print">PRINT</div>
            </div>
        </div>
    </div>
</template>

<script>
    import ItemBox from "./parts/ItemBox.vue"
    import ItemSearch from "./parts/ItemSearch.vue"
    import ReceiptItem from "./parts/ReceiptItem.vue"
    import Dropdown from "./parts/Dropdown.vue"
    import CurrencyMix from "./mixins/CurrencyMix.js"
    import Datepicker from 'vuejs-datepicker';
    import {id} from 'vuejs-datepicker/dist/locale'

    export default {
        components: {
            ItemBox, ItemSearch, ReceiptItem, Dropdown, Datepicker
        },
        data() {
            return {
                timer: {},
                temp_now: new Date(),
                now: new Date(),
                id: 0,
                edited_date: '',
                idn: id
            }
        },
        computed: {
            nama_toko() {
                return this.$store.state.penjualan.nama_toko;
            },
            item_list() {
                return this.$store.state.penjualan.transaction.item_list;
            },
            is_open() {
                return this.$store.state.penjualan.transaction.open;
            },
            total() {
                var total = this.$store.state.penjualan.transaction.item_list.reduce((accumulator, current) => {
                    accumulator += current.total;
                    return accumulator;
                }, 0);
                return total;
            },
            current_date() {
                var month = ["Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember"]
                if (this.edited_date !== ""){
                    return this.edited_date;
                } else if (this.$store.state.penjualan.transaction.date !== '') {
                    var date = new Date(this.$store.state.penjualan.transaction.date);
                    return date;
                } else {
                    // TODO: Using temp_now since plugin is broken, will fix later
                    return this.temp_now;
                }
            },
            current_time() {
                if (this.$store.state.penjualan.transaction.date !== '') {
                    var date = new Date(this.$store.state.penjualan.transaction.date);
                    return ("0" + date.getHours()).slice(-2) + ":" + ("0" + date.getMinutes()).slice(-2) + ":" + ("0" + date.getSeconds()).slice(-2);
                } else {
                    return ("0" + this.now.getHours()).slice(-2) + ":" + ("0" + this.now.getMinutes()).slice(-2) + ":" + ("0" + this.now.getSeconds()).slice(-2);
                }
            },
            pegawai() {
                return this.$store.state.penjualan.transaction.pegawai;
            },
            pegawai_list() {
                return this.$store.state.penjualan.pegawai_list;
            },
            disable_finish() {
                return this.item_list.length === 0 || this.pegawai === '';
            }
        },
        methods: {
            loadPrev() {
                if (this.$store.state.penjualan.current_loaded > 0) {
                    this.$store.commit("penjualan/loadJual", this.$store.state.penjualan.current_loaded - 1);
                }
            },
            loadNext() {
                if (this.$store.state.penjualan.current_loaded < this.$store.state.penjualan.saved_transaction.length - 1) {
                    this.$store.commit("penjualan/loadJual", this.$store.state.penjualan.current_loaded + 1);
                }
            },
            addBarang(data) {
                if (this.$store.state.penjualan.transaction.open) {
                    var item = {
                        kode_barang: data.kode_barang,
                        nama_barang: data.nama_barang,
                        kode_grup_barang: data.kode_grup_barang,
                        harga: data.harga,
                        jumlah: 1,
                        diskon: 0,
                        total: data.harga,
                        stok_warna: data.stok_warna,
                        notes: '',
                        selected_warna: data.stok_warna[0].warna,
                        opened: false
                    };

                    this.$store.commit('penjualan/addBarang', item);
                }
            },
            finishJual() {
                if (!this.disable_finish) {
                    this.$store.dispatch('penjualan/finishJual', {date: this.current_date})
                } else {
                    this.$store.commit('modal/showModal', {
                        title: 'Gagal Menyimpan Penjualan',
                        message: 'Keranjang belanja & nama sales tidak boleh kosong!',
                        icon: 'error',
                        type: 'danger'
                    });
                }
            },
            resetJual() {
                this.$store.dispatch('penjualan/resetJual')
            },
            newJual() {
                this.$store.commit('penjualan/newJual');
                this.edited_date = '';
            },
            updatePegawai(e) {
                this.$store.commit('penjualan/updatePegawai', e.target.value);
            },
            updateDate(val) {
                this.edited_date = val;
            },
        },
        mixins: [
            CurrencyMix
        ],
        created() {
            var self = this;
            this.timer = setInterval(() => {
                self.now = new Date();
            }, 1000);

            this.timer = setInterval(() => {
                self.temp_now = self.now;
            }, 300000);

            this.$store.dispatch('penjualan/loadTransactions');
            this.$store.dispatch('penjualan/refreshPegawai');
        }
    }
</script>


<style scoped>
    /* General */
    .pos-group {
        display: flex;
        flex-direction: column;
        flex-basis: 40%;
        height: 100%;
    }

    .group-form {
        display: flex;
        flex-flow: column nowrap;
        flex-grow: 9;
        padding: 1rem;
        box-sizing: border-box;
        background-color: #FFFFFF;
        border-left: 1px solid #DDD;
    }

    /* Receipt */
    .receipt-header {
        text-align: left;
        padding-bottom: 1rem;
        border-bottom: 1px solid #DDD;
        margin-bottom: 1rem;
    }

    .header-message {
        text-align: center;
        text-transform: uppercase;
        font-family: "RobotoBold";
        font-size: 1.2rem;
    }

    .header-detail {
        display: flex;
        flex-direction: row;
        align-content: stretch;
        justify-items: center;
        margin-top: 0.3rem;
    }

    .header-detail > *:last-child {
        text-align: right;
    }

    .dropdown-detail {
        display: flex;
        justify-content: flex-end;
    }

    .header-detail > * {
        flex-grow: 1;
    }

    .header-detail .block-header label {
        font-size: 0.7rem;
    }

    .receipt-content {
        overflow-y: auto;
    }

    .receipt-footer {
        margin-top: auto;
        padding-top: 1rem;
        border-top: 1px solid #DDD;
        font-size: 3rem;
        font-weight: bold;
        text-align: right;
    }

    .receipt-footer .block-header label {
        font-size: 1rem;
    }

    /* trxlist */
    .group-trxlist {
        display: flex;
        flex-direction: row;
    }

    div[class^="trxlist"] {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffca00;
        transition-duration: 0.2s;
        user-select: none;
        padding: 0.5rem;
    }

    .trxlist-current {
        font-family: "RobotoBold";
        flex-grow: 8;
        background-color: #fffd50 !important;
    }

    .trxlist-next, .trxlist-prev {
        flex-grow: 1;
        background-color: #ffca00;
    }

    .trxlist-next:hover, .trxlist-prev:hover {
        background-color: #c79a00;
    }

    /* Button */
    .group-button {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
    }

    .button {
        font-family: "RobotoBold";
        font-size: 0.9rem;
        text-transform: capitalize;
        text-align: center;
        padding: 1rem;
        background-color: #ffca00;
        flex-grow: 1;
        transition: 0.2s ease-in-out;
    }

    .button:hover {
        background-color: #c79a00;
    }

    .button-reset {
        background-color: #d32f2f;
        color: #FFF;
    }

    .button-reset:hover {
        background-color: #9a0007;
    }

    .button[disabled] {
        background-color: #999999;
    }
</style>

<style>
    #datepicker {
        background-color: transparent;
        padding: 0;
        font-family: RobotoReg;
        font-size: 1rem;
        color: #495057;
    }
</style>