<template>
    <div class="pos">
        <!-- Item List -->
        <div class="pos-items">
            <div class="items-header">
                <div class="searchbar-label label">+ SETTINGS</div>
            </div>
            <div class="items-settings">
                <div class="settings-group" v-for="setting in settings">
                    <div class="settings-header label">
                        {{setting.category}}
                    </div>
                    <div class="settings-option" v-for="option in setting.options" v-on:click="changeComponent(option)">
                        <div class="option-icon material-icons-outlined">
                            {{option.icon}}
                        </div>
                        <div class="option-text">
                            {{option.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Form -->
        <div class="pos-group">
            <component class="component" v-bind:is="currentComponent"></component>
        </div>
    </div>
</template>

<script>
    import SalesSetting from "./settings/SalesSetting";
    import UserSetting from "./settings/UserSetting";
    import BackupSetting from "./settings/BackupSetting";

    export default {
        components: {
            SalesSetting, UserSetting, BackupSetting
        },
        data() {
            return {
                settings: [
                    // {
                    //     category: "user",
                    //     options: [
                    //         {
                    //             name: "Pengaturan User",
                    //             icon: "group_add",
                    //             component: "UserSetting"
                    //         },
                    //     ]
                    // },
                    {
                        category: "penjualan",
                        options: [
                            {
                                name: "Pengaturan Penjualan",
                                icon: "shopping_cart",
                                component: "SalesSetting",
                                callback: function (ctx) {
                                    ctx.$store.dispatch('setting/loadData', "pegawai")
                                    ctx.$store.dispatch('setting/loadData', "grup_barang")
                                    ctx.$store.dispatch('setting/loadData', "pembeli")
                                    ctx.$store.dispatch('setting/loadSettings')
                                }
                            },
                        ]
                    },
                    {
                        category: "data",
                        options: [
                            {
                                name: "Ekspor Data",
                                icon: "save",
                                component: "BackupSetting"
                            },
                        ]
                    },
                ],
                currentComponent: ""
            }
        },
        methods: {
            changeComponent(option) {
                this.currentComponent = option.component;
                if ("callback" in option) {
                    option.callback(this);
                }
            }
        }
    }
</script>


<style scoped>
    .pos-group {
        display: flex;
        flex-basis: 70%;
        flex-direction: column;
        height: 100%;
    }

    .settings-group {
        user-select: none;
        padding: 1.5rem;
        padding-bottom: 0.5rem;
    }

    .settings-header {
        color: #999999;
        border-bottom: 1px solid #DDDDDD;
        padding-bottom: 0.5rem;
    }

    .settings-option {
        cursor: pointer;
        text-transform: capitalize;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: stretch;
        transition-duration: 0.2s;
    }

    .settings-option:hover {
        background-color: #DDDDDD;
    }

    .option-icon {
        color: #ffca00;
        flex-basis: 10%;
        text-align: center;
    }

    .option-text {
        margin-left: 0.2rem;
        padding: 0.7rem;
        border-bottom: 1px solid #DDDDDD;
        flex-basis: 90%;
    }

    .pos-group {
        box-sizing: border-box;
        padding: 2rem;
    }
</style>

<style>
    .settings-title {
        text-transform: uppercase;
        font-family: "RobotoLight";
        font-size: 2rem;
    }

    .settings-group-header {
        padding-bottom: 0.4rem;
        border-bottom: #DDDDDD 1px solid;
        color: #999999;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
    }

    .button-group {
        display: flex;
        flex-direction: row;
    }

    .button-group .button {
        display: flex;
        margin-right: 1rem;
        align-items: center;
    }
</style>